.paymentoption{
    margin-top: 68px;
    margin-left: 30px;
    margin-right: 30px;
}
.header-payment{
    height: 83px;
    background-color: #030640;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
   
}
.total-pay-option{
    font-family: 'DM Sans', sans-serif;
}
.header-payment h3{
    font-size: 18px;
    text-align: left;
    color: white;
    margin-left: 60px;
}
.payment-inner-content{
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    border: none;
   box-shadow: 0px 3px 10px  rgb(0 0 0/ 10%);
   background-color: white;
  
   max-width: 100%;
   margin-bottom: 40px;
   flex-wrap: wrap;
}
.payment-inner-content p{
    text-align: left;
    font-size: 18px;
    color: rgba(51,51,51,0.7);
    margin-bottom: 50px;
}
 .image-and-option-payment{
    display: flex;
   
    align-items: center;
    justify-content: center;
    padding-right: 124px;
    padding-left: 118.3px;
}
.payment-option-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 146.6px;
    /* margin-bottom: 50.6px; */
}

.payment-option-icon{
    margin-right: 16px;
}
.payment-option-buttons button:hover{
    border: 1px solid#6200f0;
    font-weight: 500px;
    cursor: pointer;
}
.payment-option-buttons button{
    margin-bottom: 40px;
    width: 404px;
    height: 56px;
    display: flex;
  font-size: 16px;
  color: #333333;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid rgba(3,6,64,0.2);
}
.paymentoption .payment-inner-content .payment-select-buttons{
    display: flex;
    
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    margin-top: 90.6px;
   
   
}
.payment-select-buttons button{
    width: 215px;
    height: 56px;
    font-size: 16px;
    font-weight: 500px;
    border-radius: 6px;
    margin: 0 auto;
    
    margin-bottom: 160px;
}
.proceed-payment{
    background-color: #6200f0;
    border: none;
    color: white;
}
.pay-mobile-views{
    display: none;
}

.proceed-payment:hover{
        background-color: #5205C1;
    }

.paymentoption .cancel-payment{
    margin-right: 40px;
    color: #6200f0;
    background-color: white;
    border: 1px solid #6200f0;
}
.paymentoption .cancel-payment:hover{
    border: 3px solid #5205C1;
}

@media screen and (max-width:960px){
    .recTangle-div{
        width: 215px;
        height: 187px;
        margin: 55px auto;
        align-self: center;
        margin-bottom: 57px;
    }
    .recTangle-div img{
        width: 100%;
        
    }
    .payment-option-cad-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 68px;
    }
    .payment-option-cad-mobile button{
        margin-bottom: 30px;
        height: 56px;
    }
    .cance-proceed-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .cance-proceed-mobile button{
        width: 118px;
        height: 48px;
        margin-right: 16px;
        border-radius: 6px;
    }
    .mobile-option-payMent{
        margin-top: 30px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 30px;
    }
    .heading-payment{
        text-align: left;
        padding-left: 20px;
        font-size: 14px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: #030640;
        border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: white;
    }
    .parag-option{
        font-size: 14px;
        text-align: left;
        margin-left: 20px;
        margin-top: 20px;
        color: rgba(51,51,51,0.7);
     
    }
    .payment-inner-content p{
        font-size: 14px;
        width: 100%;
       
        margin-bottom: 50px;
    }
    .web-pay-option{
        display: none;
    }
    .pay-mobile-views{
        display: inline;
        background-color: aqua;
       
        padding: 0;
    }
    .total-pay-option{
        background-color: blue;
    }
    .rect-options{
        width: 100%;
    }
    .pay-mobile-view{
       padding-left: 16px;
       padding-right: 16px;
    }
    .payment-inner-content{
       padding-top: 20px;
      
    }
    .rect-divs{
        width: 60%;
    }
    .header-payment{
        margin-top: 30px;
       height: 50px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
       
    }
    .image-and-option-payments{
        width: 215px;
        height: 187px;
        margin-top: 50px;
    }
    .second-cancel-button{
        background-color: white;
        border: 1px solid #6200f0;
        color: #6200f0;
    }
    .web-pay-option{
        display: none;
    }
    .image-and-option-payment{
        flex-direction: column;
    }
    .payment-option-buttons button{
        width: 250px;
       
        margin-left: 0;
      margin-bottom: 30px;
        border-radius: 6px;
        font-size: 16px;
        font-size: 14px;
    }
    .payment-option-buttons{
        min-width: 100%;
        max-width: 100%;
       
       margin-top: 50px;
        margin-left: 0;
    }
    .payment-inner-content{
      
        padding-left: 20px;
        
        display: flex;
        flex-direction: column;
       align-items: center;
    }
    .header-payment h3{
        font-size: 14px;
        margin-left: 20px;
    }
    .image-and-option-payment{
        display: flex;
        flex-direction: column;
       align-items: center;
        margin: 0 auto;
        min-width: 100%;
        max-width: 100%;
     
    }
    .payment-select-buttons{
        
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }
     .payment-inner-content .payment-select-buttons button{
        width: 118px;
        height: 40px;
        font-size: 12px;
        margin-right: 10px;
       
    }


}