.product-category-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 61px;
    
}
.product-categ-container{
    background-color: white;
   margin-left: 30px;
   margin-right: 30px;
   margin-top: 20px;
}
.listOfproduct{
    display: flex;
}
.listOfproduct p{
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 30px;
    padding-bottom: 10px;
    color: rgba(7,10,74 ,50%);
    
}
.product-category-second-list{
   
}
#entertainment{
    border-bottom: 4px solid #6200f0;
    color: rgba(7,10,74 ,100%);
}
.listAndHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 15px;
    min-height: 120px;
   
}
.product-category-second h3{ 
    align-self: start;
    text-align: left;
padding:30px 20px;
background-color: black;
margin-top: 20px;
background-color: #030640;
color: white;
font-size: 16px;
font-weight: 500px;
margin-bottom: 30px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.product-category-second-inner{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
    
    margin-bottom: 30px;
}
.list-specification{
    display: flex;
    align-items: center;
}
.list-specification p{
    margin-left: 20px;
    font-size: 20px;
   color:rgba(25,29,108,70%) ;
}
 
.productcategory-mobile{
    display: none;
}
.productADD p{
    margin-left: 10px;
}
.productADD {
    background-color: #6200f0;
    border-radius: 6px;
    color: white;
    border: none;
    width: 140px;
    height: 54px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-category-inner input{
    width: 494px;
    height: 53px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgba(7,10,74 ,10%);
}
.product-catg-line{
    border: 1px solid rgba(7,10,74 ,10%);
}
@media screen and (max-width:960px) {
    .productcategory-web{
        display: none;
    }
    .productcategory-mobile{
        display: flex;
        flex-direction: column;
        background-color: #FAFAFE;
    }
    .product-category-inner{
        flex-direction: column;
        margin-top: 30px;
        text-align: left;
        padding: 0 30px;
        background-color: #FAFAFE;
        margin-bottom: 30px;
    }
    #entertainment{
        color: rgba(7,10,74 ,100%);
        padding-bottom: 3px;
        border-bottom: 1.5px solid #030640;
    }
    .product-category-inner input{
        border: 1px solid black;
        padding: 0 20px;
        margin-top: 20px;
        margin-left: 16px;
        margin-right: 16px;
        height: 40px;
        border: 1px solid rgba(3,6,64,0.2);
        /* max-width: 382px; */
        max-width: 100%;
        border-radius: 10px;
        font-size: 14px;
        margin-bottom: 22px;
        /* align-self: flex-start; */
        color: rgba(51,51,51,0.5);
    }
    .productcategory-All{
        font-family: 'DM Sans', sans-serif;
    }
    .product-category-inner input:hover{
        border: 1px solid #6200f0;
    }
    .product-category-inner h3{
        text-align: left;
        align-self: start;
        font-size: 16px;
        font-weight: 500px;
        color: #333;
        margin-left: 6px;
    }
    .product-category-second{
        margin-top: 19.5px;
    }
    .product-category-second h3{
        display: flex;
        align-items: center;
       padding-left: 20px;
        height: 50px;
        font-size: 14px;
    }
    /* .product-category-inner input{
        margin-top: 20px;
    } */
    .listOfproduct p{
        margin-right: 0px;
        margin-left: 0px;
        padding: 5px 5px;
        color: rgba(7,10,74 ,50%);
    }
    .inner-product-catg-All{

     border: 1px solid black;
    border-radius: 8px;
    margin: 20px 20px;
    margin-top: 0;
    background-color: white;
    border: none;
   box-shadow: 0px 3px 10px  rgb(0 0 0/ 10%);
}
    .listOfproduct{
       
       
        flex-wrap: wrap;
        max-width: 100%;
        min-width: 100%;
        overflow: hidden;
        border-bottom: 1.5px solid rgba(7,10,74,0.05);
        padding: 10px;
        padding-top: 20px;
    }
    .list-specification p{
        font-size: 14px;
    }
    .productADD{
        width: 71px;
        height: 38px;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
    }
    
    
}