*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.arrow-left{
   
    margin-right: 14px;
}
.dash-open-upper-left{
    display: flex;
    align-items: center;
  
    margin-left: 36px;
}
.dash-open-upper-left p{
    font-size: 18px;
    color: #333333;
    
    

}
.arrow-left{
    height: 100%;
    align-self: center;
    display: flex;
    align-items: center;
   
}
.arrow-text{
    display: flex;
    align-items: center;
   justify-content: center;
 
}
.front{
  
    /* border-left: 1px solid rgba(7,10,74 ,10%); */
    min-height: 100%;
    max-height: 100%;
    padding:19px 35.5px;
    display: flex;
    align-items: center;
    justify-content: center;
   margin: 0px;
    
    align-self: center;
}
.profile-image-dashopen{
    width: 26.7px;
    height: 26.7px;
    border-radius: 100%;
    border: 1.5px solid #070a4a;
   color: #E4E6FF;
   color: #aaaccf;
    display: flex;
    align-items: center;
    justify-content: center;
}


