*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Upperright-newsub{
    width: 50%;
    border: 1px solid rgba(7,10,74 ,10%);
    display: flex;
    align-items: flex-start;
    padding-top: 40px;
    /* padding:30px 20px ; */
    justify-content: center;
    /* background-color: teal; */
}
.Upperright-newsub button{
    margin-left: 30px;
    background-color: #6200F0;
    color:white;
    width: 168px;
    height: 47px;
    margin-bottom: 20px;
    /* margin-top: 30px; */
    background-color: #6200f0;
    color: white;
    border-radius: 6px;
    border: none;
}
.newsubContainer{
    max-width: 100%;
    min-width: 100%;
   
}
.newsub-mobile{
    display: none;
}
@media screen and (max-width:960px) {
    .newsub-mobile{
        display: flex;
        position: relative;
        min-width: 100%;
    }
    .newsub-web{
        display: none;
    }
}