.Requestconfirm{
    text-align: left;
    
}
.Requestconfirm h1{
    margin-top: 37.7%;
   
    font-size: 20px;
    font-weight: bold;
  color: #4c0fae;
  margin-bottom: 10px;
 
}
.Requestconfirm-parag{
    font-size: 16px;
    color: rgba(51,51,51,70%);
    margin-bottom: 80px;
}
.Requestconfirm button{
    width: 248px;
    height: 56px;
    border-radius: 6px;
    border:1px solid rgba(98,9,240,50%);
    color: #6200f0;
    background-color: white;
    font-size: 16px;
    font-weight: 500px;
    margin-bottom: 40px;
}
.remember-request-pass{
   
    color: #333333;
    font-size: 14px;
}
.link-rem-reuest{
    color: #6200f0;
    font-size: 14px;
}
.mobile-reset-request{
    display: none;
}
@media screen and (max-width:960px) {
    .signinmobile-inner-confirm h2{
        color: #6200f0;
       
    }
    
    .signinmobile-inner-confirm h3{
        margin-bottom: 20px;
    }
    .signinmobile-inner-confirm{
        width: 100%;
        background-color: white;
        padding: 20px;
        padding-top: 50px;
        min-height: 80%;
        max-height: 80%;
        height: 500px;
        align-self: center;
       
      
    }
    .Requestconfirm{
        text-align: center;
        
       
    }
    .Requestconfirm h1{
        margin-top: 0px;
        font-size: 16px;
    }
    .mobile-reset-request{
        display: flex;
    }
    .web-reset-request{
        display: none;
    }
    .Requestconfirm-parag{
        font-size: 14px;
    }
    .remember-request-pass{
        font-size: 12px;
    }
    .Requestconfirm button{
        font-size: 14px;
    }
}