.Blog{
    background-color: #fafafe;
    font-family: 'Cabin', sans-serif;
    min-width: 100%;
    max-width: 100%;
  
}

.heading{
    width: 800px;
    margin: 0 auto;
    margin-top: 80px;
}

.heading h1{
    font-size: 44px;
    line-height: 1;
}

.heading p{
    font-size: 18px;
    margin: 50px 0;
}

.heading h1, .card-text h3{
    color: #030640;
}

.heading p, .card-text p{
    color: #333333;
}

.blogs{
    /* max-width: 1100px; */
   max-width: 100%;
   min-width: 100%;
    margin: 0 auto;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    /* overflow: hidden; */
    padding-right: 100px;
    padding-left: 100px;
    /* grid-template-columns: 1fr 1fr 0fr; */
    gap: 30px 30px;
    /* gap: 30px 0px; */
   
}

.card:first-of-type{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    grid-column: 1/4;
    height: 500px;
   width: 100%;
   padding-right: 0;
}

.card:first-of-type img {
    /* width: 600px; */
    width: 50%;
    height: 500px;
     min-height: 100%; 
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
}


.card:first-of-type .card-text {
   
    /* min-width: 450px;
    min-width: 40%;
    max-width: 40%; */
    /* height: 100%; */
    width: 50%;
    flex-wrap: nowrap;
    min-height: 100%;
    /* min-height: 100%;
    max-height: 100%;
    flex-wrap: wrap; */
  
    /* width: 50%; */
}

.card:first-of-type .card-text h3 {
    font-size: 30px;
    
}
.card:first-of-type .card-text p {
    font-size: 20px;
 
   
    
    
}
.card:first-of-type  {
 
  padding-right: 0;
  max-width: 100%;
  min-width: 100%;
  flex-direction: column-reverse;
  display: flex;
  flex-direction: row-reverse;
  /* min-height: 200px; */
  height: auto;
 
 
    
}

.card{
    display: flex;
    flex-direction: column-reverse;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    text-align: left;
    /* min-height: 200px; */
    padding-top: 0;
    /* min-width: 100%; */
    /* max-width: 100%;
    min-width: 100%; */
    /* margin-left: 100px; */
    max-width: 400px;
    /* margin-right: 100px; */
   
 
}
.img-blog-body-div{
    max-height: 300px;
    align-self: flex-start;
   
    margin-top: 0;
}

.card img {
    max-height: 200px;
    min-height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card:last-of-type{
    display: flex;
    flex-direction: row;
    text-align: left;
    grid-column: 1/4;
    height: 300px;
    max-width: 100%;
    min-width:100%
}

.card:last-of-type img {
    width: 950px;
    height: auto;
    min-height: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    
}

.card-text{
    padding: 50px;
   
    /* width: 100%; */
  
}

/* .card-text h3{
    font-size: 40px;
} */

.card-text p{
    font-size: 14px;
    margin: 20px 0;
}

.blog-info{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.blog-info p{
    align-self: center;
    font-weight: bold;
}

.blog-info h6{
    font-size: 16px;
    align-self: center;
}
.card-image{
    max-width: 100%;
}
.image-blog-div{
 
}
.blog-card-except{
    display: none;
}
.lower-blog-except{
    display: none;
}

@media screen and (max-width:800px) {
    .lower-blog-except{
        display:flex;
    }
    .heading h1{
        font-size: 24px;
    }
    .heading p{
        font-size: 16px;
        margin:30px 0;
        margin-left: 20px;
    }
    .heading{
        width: 100%;
    }
    .card:first-of-type .card-text {
        width:50%;
        font-size: 24px;
        display: none;
       
    }
    
    .card:first-of-type .card-text h3 {
        font-size: 30px;
        display: none;
        
    }
    .card:first-of-type {
        font-size: 30px;
        display: none;
       
        
    }
    .blogs{
       
        /* display: grid;
     grid-auto-flow: column; */
     display: flex;
     min-width: 90%;
        max-width: 90%;
        width: 100%;
      margin-left: 20px;
      margin-right: 20px;
      padding-left: 0px;
      padding-right: 0;
        overflow-x: scroll;
       
      

    }
    .card:last-of-type{
        /* display: inline-grid; */
        /* align-self: flex-end;
        grid-auto-flow: column; */
        /* flex-direction: row-reverse; */
        text-align: left;
        overflow: hidden;
        max-width: 100%;
        /* grid-column: 1/4; */
        height: 350px;
        display: none;
    }
    
    .card:last-of-type img {
        width: 950px;
        height: auto;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
    .card{
        min-width: 300px;
        height: 400px;
        
       
    }
    .card-text{
        padding: 0;
        padding-left: 27px;
        padding-right: 27px;
        padding-top: 15px;
    }
    .card img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .header-except-blog{
        text-align: left;
       color: #030640;
        line-height: 1.8;
    }
    .image-div-header-img{
        width: 300px;
        height: 254px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
     
    }
    .image-div-header-img img{
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
    }
    .blog-card-except{
        text-align: left;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
        
    }
    .blog-card-except-below{
        margin-top: 42px;
        display: flex;
        justify-content: space-between;
     
        color: #030640;
    }
    .blog-card-except p{
        line-height: 1.8;
        font-size: 16px;
        color: #333;
    }
    .lower-blog-except-profile-detail{
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        color: #030640;
    }
    .image-lower-except-div{
        max-width: 100%;
       
    }
    .image-lower-except-div img{
        width: 100%;
        height: 100%;
    }
    .lower-blog-except{
        margin: 30px 0px;
       padding-left: 20px;
       padding-top: 30px;
       padding-right: 20px;
        text-align: left;
        display: flex;
        flex-direction: column;
     
    }
    .lower-blog-except h3{
        margin-top: 30px;
        margin-bottom: 12px;
        color: #030640;
        font-size: 24px;
    }
    .lower-blog-except p{
        font-size: 16px;
        color: #333;
        line-height: 2;
        margin-bottom: 32px;

    }
    
}

