.Resetpassword{
    align-self: center;
    text-align: left;
   
}
.Resetpassword h1{
    font-size: 20px;
    font-weight: bold;
  color: #4c0fae;
  margin-bottom: 10px;
}
.Resetpassword-parag{
    font-size: 16px;
    color: rgba(51,51,51,70%);
    margin-bottom: 60px;
}
.reuest-pass-all{
    font-family: 'DM Sans', sans-serif;
}
.reset-email-div{
    width: 410px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #c4c4c4;
    height: 45px;
    margin-bottom: 80px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.reset-email-div input{
    border: none;
    outline: none;
    font-size: 16px;
}
.mobilesignin{
    display: flex;
}
.reset-email-div:hover{
    border: 1px solid #6200f0;
}
.reset-email-div:focus{
    border: 1px solid #6200f0;
}
.Resetpassword button{
    width: 410px;
    background-color:#6200f0 ;
    height: 56px;
    font-size: 16px;
    font-weight: 500px;
    color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    border: none;
}
.Resetpassword button:hover{
    background-color: #5205C1;
}
.link-rem{
    color: #6200f0;
    font-size: 14px;
}
.remember-reset-pass{
    margin: 0 auto;
    align-self: center;
    color: #333333;
    font-size: 14px;
}
@media screen and (max-width:960px){
    .mobilesignin{
      width: 100%;
       min-height: 100%;
    }
    .reuest-pass-all{
        
        min-height: 100vh;
        display: flex;
        align-items: flex-start;
    }
    .mobilesigninj{
        display: flex;
    }
    .reset-email-div {
        width: 100%;
    }
    
    .Resetpassword button{
        width: 100%;
        height: 45px;
        font-size: 14px;
    }
    .Resetpassword h1{
        font-size: 16px;
    }
    .Resetpassword-parag{
        font-size: 14px;
    }
    .reset-email-div input{
        font-size: 14px;
    }
    .remember-reset-pass{
        font-size: 12px;
    }
   
    
}