.input-and-label-forgot{
    display: flex;
    flex-direction: column;
}
.forgotpass-input-div{
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #6200f0;
}
.forgotpass-input-div input{
    border: none;
    outline: none;
}
.passwordreset{
    text-align: left;
}
.passwordreset h1{
    font-size: 20px;
    font-weight: bold;
  color: #4c0fae;
  margin-bottom: 30px;
  
}
.passwordreset label{
    margin-bottom: 16px;
    font-size: 16px;
    color: #333333;
}
.passwordreset button{
    width: 410px;
    background-color:#6200f0 ;
    height: 56px;
    font-size: 16px;
    font-weight: 500px;
    color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-bottom: 40px;
}
.password-wrapper-reset{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-items: center;
    width: 410px;
    border: 1px solid #c4c4c4;
    color: #c4c4c4;
   margin-bottom: 24px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    height: 45px;
    color: black;
    margin-bottom: 50px;
}
.password-wrapper-reset input{
   
    width: 100%;
  border: none;
  outline: none;
  color: #333333;
    

    
}
.password-wrapper-reset:hover{
    border: 1px solid #6200f0;
    outline: none;
}
.password-wrapper-reset:focus{
    border: 1px solid #6200f0;
    outline: none;
    color: black;
    border: 1px solid #030640;
}
.password-wrapper-reset input:focus{
    border: none;
    outline: none;
    color: black;
    color: #333333;
}
.password-wrapper-reset input:focus{
    border: none;
    outline: none;
    
}
.password-wrapper-reset i{
    position: absolute;
    margin-right: 0px;
    margin-top:4px ;
    
    
 
  
}
#secondpass-reset{
    margin-bottom: 80px;
}
.remember-passreset-pass{
   
    color: #333333;
    font-size: 14px;
}
.link-rem-passreset{
    color: #6200f0;
    font-size: 14px;
}