*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.second-line-dashboard{
    display: flex;
    justify-content: space-between;
   padding: 20px 30px;
   align-items: center;
   font-size: 18px;
   border-bottom: 2px solid rgba(7,10,74 ,10%)  ;
   
  
}
.second-line-dashboard h2{
    color: #333333;
}
.inner-body-dashboard{
    background-color: white;
   margin-left: 30px;
   margin-right: 30px;
   margin-top: 20px;
  
  
}
.third-line-dashboard{
display: flex;
flex-direction: column;
justify-content: center;
padding: 10px 0px;
}
.third-line-dashboard-content{
    display: flex;
    margin-left: 5px;
    background-color: white;
    width: 300px;
    
    padding: 0;
    align-items: flex-start;
}
.dash-add-button{
    height: 54px;
    width: 215px;
    background-color: #6200f0;
    border-radius: 6px;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500px;
    justify-content: center;
    padding: 10px;
    
}
.dash-add-button:hover{
    background-color: #5205C1;
}
.catresult{
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: flex-start;
    /* background-color: #6200f0; */
    padding-left: 51.2px;

}
.catresult span{
    /* margin-right: 200px; */
    width: 19%;
  font-size: 16px;
  color: rgba(7,10,74,70%);
    margin-right: 5px;
    text-align: left;
   
}
.excIcon{
    width: 100%;
}
.dash-add-button p{
    margin-left: 5px;
}
.third-line-dashboard-content p{
    /* margin-right: 40px; */
}
.third-line-dashboard-content .account-line{
    height: 4px;
    background-color: #6200f0;
    min-width: 100%;
   max-width: 100%;
   margin-top: 10px;
}
.dashproduct{
    width: 50%;
    color: rgba(7,10,74 ,50%);
   
}
.third-line-dashboard-upper{
    display: flex;
    justify-self: start;
    padding: 0px 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: medium;
    color: #191D6C;
}
.third-line-dashboard-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding: 10px 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(7,10,74 ,10%)  ;
}
.account-and-line{
    display: flex;
   flex-direction: column;
   width: 50%;
   
   
   
}
.acc-summ{
    align-self: center;
    color: rgba(3,6,64,100%);
    color: rgba(7,10,74 ,100%);
    margin-left: 5px;
}
.welcome-divider{
    
   
    background-color:rgba(7,10,74 ,10%) ;
   
}
.fourth-line-dashboard-inner{
    /* padding: 20px 30px; */
    padding: 0px 0;
   
   border-bottom: 2px solid rgba(7,10,74 ,10%);
  
    display: flex;
    justify-content: space-between;
    
}
.subOverview{
    font-size:16px ;
    color: rgba(7,10,74 ,80%);
    font-weight: 500px;
    margin-top: 20px;
}
.fourth-line-left-content button{
    width: 101px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 4px;
    border: none;
    /* color: red; */
    
}
.first-graph-button{
    background-color: #E2CEFE;
    color: rgba(7,10,74 ,70%);
    margin-right: 15px;
    text-align: center;
    ;
}
.second-graph-button{
    background-color: rgba(7,10,74 ,10%);
    color: rgba(7,10,74 ,70%);
    text-align: center;
   
    
    
}
.fourth-line-left{
    background-color: white;
    min-height: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
    padding-left: 30px;
    padding-right: 23px;
    padding-bottom: 30px;
 
    border-top:rgba(7,10,74 ,10%) ;
    border-bottom:rgba(7,10,74 ,10%) ;
   
}
.wallet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 391px;
    min-width: 200px;
    max-width: 100%;
    margin-left: 10px;
    height:221px;
    background-color: #FF8E2E;
    border-radius: 20px;
    padding: 24px;
    margin-bottom: 60px;
    background-color: rgba(254,118,1,100%);
    background-color: rgba(255,118,0,80%);
    background: linear-gradient(rgba(254,118,1,100%),rgba(255,118,0,80%));
   
    border-color: rgba(251,251,255,5%);
    color: white;
}
.wallet-upper{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: normal;
   
}
.wallet-lower{
  
    display:flex ;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
   
}
.wallets-lower{
  
    display:flex ;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
   
}
.regular-weight-dash{
    font-weight: regular;
}
.medium-weight-dashboard{
    font-weight:500px;
}
.money-dashboard{
    font-size: 30px;
    font-weight: bold;
}
.fourth-line-right button{
    width: 168px;
    height: 47px;
    margin-bottom: 20px;
    margin-top: 30px;
    background-color: #6200f0;
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}
.fourth-line-right button:hover{
    background-color: #5205C1;
}
.fourth-line-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   background-color: white;
   padding-right: 30px;
    width: 50%;
    /* border: 2px solid rgba(7,10,74 ,10%) ; */
    margin: 0px;
    border-right: none;
    border: none;
    border-left: 2px solid rgba(7,10,74 ,10%) ;
    

    
}
.fourth-line-left-content{
  
    border: 1px solid rgba(7,10,74 ,10%);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    border-radius: 4px;
    border: none;
   box-shadow: 0px 3px 10px  rgb(0 0 0/ 10%);
   
   
    
}
.inner-half-dashboard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
    
}
.recent-sub-dashboard{
    margin-top: 25px;
    margin-bottom: 20.66px;
    font-size: 16px;
    color: #191D6C;
    font-weight: bold;
    margin-left: 51.2px;
}
.editprof{
    display: flex;
}
.editprof p{
    margin-right: 34px;
}
.main-loading-spinner{
    align-self: center;
    margin-top: 10%;
    color:#030640
}

.inner-half-header{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
   width: 100%;
    background-color: black;
    height: 67.4px;
    color: white;
    font-size: 16px;
    padding-left: 51.2px;
    margin-bottom: 40px;


    display: flex;
    align-items: center;
    justify-content: flex-start;
   width: 100%;
    background-color: #030640;
    height: 67.4px;
    color: white;
    font-size: 16px;
    padding-left: 51.2px;
    margin-bottom: 40px;
    font-weight: normal;

}
.inner-half-header span{
   /* margin-right: 200px; */
   width: 19%;
   text-align: left;
    font-weight:normal ;
    
    margin-right: 5px;
}
.mobile-dashboard{
    display: none;
}
.dashtotal{
    font-family: 'DM Sans', sans-serif;
    min-height: 100vh;
    width: 100%;
}

.mobile-dashboard-All{
    display:none;
}
.second-line-dashboard input{
    width: 494px;
    height: 53px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgba(7,10,74 ,10%);
}
.second-line-dashboard input:hover{
    border: 2px solid #6200f0;
}
.second-line-dashboard input:focus{
    border: 2px solid #6200f0;
    outline: #6200f0;
}
.second-line-dashboard h2{
    color: #333333;
   
}
*{
    margin: 0;
}
.linechart{
    
    width: 100%;
    /* height: 100%; */
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Product-and-Pname{
    display: flex;
   
}
.Product-and-Pname p{
    color: #333;
}
.binDiv{
    width: 14px;
    height: 17.8px;
}
.catresult{
    margin-bottom: 20.3px;
}
.WALLET-div{
   
   max-width: 100%;
   /* overflow: auto; */
}

@media screen and (max-width:680px){
    .mobile-dashboard-All{
        display: flex;
        flex-direction: column;
        /* background-color: #4682b4; */
        min-height: 100%;
        /* padding-bottom: 100px; */
        
       position: relative;
      
    }
    .mobile-dashboard input{
        border-radius: 6px;
        height: 30px;
        margin-top: 10px;
        border: 1px solid black;
        padding-left: 20px;
    }
    .webDashboard{
        display: none;
    }
    .inner-mobile-dashboard{
        background-color: white;
        padding: 20px 0;
        margin-top: 20px;
        padding-bottom:30px ;
       
    }
    .view-and-button button{
        width: 153px;
        height: 36px;
        font-size: 12px;
        font-weight: 500px;
        color: white;
        border-radius: 6px;
        border: none;
        background-color: #6200f0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
       
       
    }
    .view-and-button button p{
        margin-left: 5px;
    }
    .view-and-button button:hover{
        background-color: #5205C1;
    }
    .tableData{
        background-color: darkgoldenrod;
        overflow-x: scroll;
        min-width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        background-color: green;
    }
    .mobile-list-table{
       
      
        flex-wrap: nowrap;
        padding-right: 20px;
    }
    .linechart{
        margin-bottom: 0;
       
    }
    .linestyle{
        /* min-height: 1000px;
        max-height: 1000px; */
        height: 100%;
      
    }
    .fourth-line-left-content{
      height: 306px;
        padding-left: 20px;
        padding-bottom: 0;
       
    }
    .fourth-line-left-content button{
        width: 80px;
        height: 25px;
        font-size: 12px;
    }
    .fourth-line-left-content button:hover{
        background-color: #5205C1;
    }
    .subOverview{
        font-size: 14px;
    }
    .inner-half-dashboard{
        background-color: white;
        margin-top: 10px;
        overflow-x: scroll;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
    }
    .inner-half-dashboard .inner-half-header{
       padding-left: 20px;
       margin-left: 0;
       margin-right: 0;
       /* min-width: 100%; */
       min-width: 250%;
       overflow-x: auto;
     
       

    }
    .inner-half-header span{
        font-size: 14px;
       /* margin-right: 17px; */
       margin-right: 10px;
       width: 12%;
       min-width: 18.5%;
       max-width: 18.5%;
      
    }
    .recent-sub-dashboard{
        margin-left: 20px;
    }
    .catresult span{
        font-size: 12px;
      
       min-width: 19%;
       max-width: 19%;
       min-width: 50%;
       max-width: 50%;
      
        margin-right: 16px;
       
    }
    .catresult {
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
    }
    .mobile-graph-dashboard{
        text-align: left;
        background-color: white;
        padding: 20px ;
        margin-top: 10px;
        margin-bottom: 0;
        border: none;
        box-shadow: 0px 3px 10px  rgb(0 0 0/ 10%);
        
    }
    .mobile-second-inner{
        text-align: left;
        background-color: white;
        padding: 20px ;
        margin-top: 30px;
        min-width: 100%;
        max-width: 100%;
        background-color: darkmagenta;
    }
    .mobile-dashboard{
        min-height: 100%;
        max-width: 100%;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        padding:30px 20px;
        background-color: #FAFAFE;
       
    }
   
    .view-and-button{
        display: flex;
        justify-content: space-between;
    }
    .mobile-categ{
        display: flex;
        margin-top: 30px;
        align-items: center;
       padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 9px;
        border-bottom: 1px solid rgba(7,10,74,0.05);
    }
    .mobile-acc-line{
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }
    .mobilecard-in-Dashboard{
        max-width: 100%;
        min-width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 12.5px;
        padding-left:10px;
        padding-right: 10px;
        align-items: center;
    }
    .mobile-dashboard h2{
        font-size: 24px;
        margin-top: 20px;
        color: #333333;
        font-weight: bold;
       margin-bottom: 20px;
    }
    .mobile-dashboard input{
        margin: 0;
        height: 40px;
        border: 1px solid rgba(3,6,64,0.2);
        background-color: transparent;
        border-radius: 10px;
    }
    .view-and-button h3{
        color: #191D6C;
        font-weight: 500px;
        font-size: 18px;
    }
    .view-and-button{
       
        margin-bottom: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    .testcoverds{
        min-height: 100vh;
        
        width: 89%;
        position: absolute;
        background-color: yellow;
    }
    .mobile-acc-line p{
        color: rgba(7,10,74 ,100%);
        border-bottom:1px solid #6200f0;
    }
    .p-Mobiles{
        color: rgba(7,10,74 ,50%);
    }
    .dashtotal{
        min-height: 100vh;
       
    }
}