.Pinverification {
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}
.Pinverification h3{
    text-align: left;
    margin-bottom: 40px;
    color: #030640;
    font-size: 18px;
}
.pin-input{
    width: 46px;
    height: 46px;
}
.pin-input-div{
    display: flex;
    justify-content: center;
}
.image-pin-input{
    display: flex;
    align-items: center;
}
.image-pin-input input{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   padding-left: 10px;
}
.pin-confirm-and-pin{
    margin-left: -40px;
    width: 60%;
  height: 384px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
   box-shadow: 0px 3px 10px  rgb(0 0 0/ 10%);
   
}
.pin-confirm-and-pin h3{
    text-align: center;
    margin-bottom: 16px;
    color: #030640;
    font-size: 16px;
}
.pin-confirm-and-pin p{
    font-size: 16px;
    color: rgba(51,51,51,0.7);
    margin-bottom: 50px;
}
.authenticate-image-div{
    width: 50%;
    height: 487px;
}
.authenticate-image-div img{
    width: 100%;
    height: 100%;
}
.pinverification-button{
    margin-top: 80px;
    margin-bottom: 70px;
}
.pinverification-button button{
    width: 248px;
    height: 56px;
    font-size: 16px;
    border-radius: 6px;
}
.confirm-action{
    background-color: #6200f0;
    color: white;
    border: none;
}
.confirm-action:hover{
    background-color: #5205C1;
}
.cancel-action{
    background-color: white;
    color: #6200f0;
    border: 1px solid #6200f0;
    margin-right: 20px;
}
.cancel-action:hover{
    border: 3px solid #5205C1;
}
