*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.subscribeUpper{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
   margin-left: 20px;
   margin-right: 20px;
   
    border-bottom: 2px solid rgba(7,10,74 ,10%);
}
.subscribeUpper h3{
   font-size: 20px; 
   color: #191D6C;
}
.subscribeUpper input{
    width: 494px;
    height: 53px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgba(7,10,74 ,10%);
}
.mySubscription{
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 4px solid #6200f0;
    min-width: 140px;
    /* margin-top: 10px; */
    padding-bottom: 10px;
    padding:0px  10px;
    padding-bottom: 10px;
    margin-left: 0px;
    font-size: 16px;
    color: #030640;
    color: rgba(7,10,74 ,100%);
}
.subhistory{
     color: rgba(7,10,74 ,50%);
}
.mysubsribe-and-button{
    padding:20px  20px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    border-bottom: 2px solid rgba(7,10,74 ,10%) ;
}
.mysubsribe-and-button button{
    height: 54px;
    width: 215px;
    background-color: #6200f0;
    border-radius: 6px;
    color: white;
    border: none;
  
}
.mysubsribe-and-button button:hover{
    background-color: #5205C1;
}
.subSCRiption{
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
    background-color: #FAFAFE;
   
}
.pie-subdcribe{
    width: 40%;
    background-color: white;
}
.card-and-activity{
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: coral;
    align-items: center;
    background-color: white;
   
    /* border-left: 2px solid rgba(7,10,74 ,10%) ; */
}
.sub-below{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    
    /* border-bottom: 2px solid rgba(7,10,74 ,10%) ; */
    /* margin-bottom: 20px; */
}
.sub-below-second{
    margin-top: 20px;
    background-color: white;
}

.card-in-subscribe{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 2px solid rgba(3,6,64 ,10%) ;
    border-right: none;
    border-top: none;
    padding: 35px;
    height: 308px;
   
   
}
/* .cardImage-subscribe{
    min-width: 60%;
    max-width: 60%;
} */
.subSCRIPTION-pluslogo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500px;
}
.subSCRIPTION-pluslogo p{
    margin-left: 10px;
}
.sub-below-second{
    text-align: left;
    
    margin-top: 20px;
    padding-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
.sub-below-second .teehaych{
margin-right: 80px;
font-weight: normal;
font-size: 14px;
width: 15%;
   text-align: left;
   margin-right: 5px;
  



}
.sub-below-second .teedee{
    min-width: 100%;
    max-width: 100%;
    padding:10px 32px;
    background-color: black;
    margin-top: 20px;
    display: flex;
justify-content: center;
color: white;
height: 68px;



display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-right: 200px; */
   width: 100%;
    background-color: #030640;
    height: 67.4px;
    color: white;
    font-size: 16px;
    padding-left: 32px;
    margin-bottom: 40px;
    font-weight: normal;

}
.catresult-sub{
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: flex-start;
    /* background-color: #6200f0; */
    padding-left: 32px;
    margin-bottom: 24px;
   

}
.editprof-sub p{
    margin-right: 3px;
    display: flex;
    color: sandybrown;
}
.catresult-sub span{
    /* margin-right: 200px; */
    width: 13.6%;
  font-size: 16px;
  color: rgba(7,10,74,70%);
    margin-right: 5px;
    text-align: left;
    
}
.sub-and-history p{
    width: 40%;
    display: flex;
    justify-content: center;
    margin-right: 30px;
}
.sub-and-history{
    display: flex;
    align-items: flex-start;
    min-width: 400px;
    max-width: 600px;
    justify-content: flex-start;
    /* background-color: #E40C0C; */
}
.sub-divider-line{
    background-color: rgba(7,10,74 ,10%);
    border: 1px solid rgba(7,10,74 ,10%) ;
}
.activity-subscribe{
    border-radius: 6px;
    margin: 20px;
    margin-bottom: 40px;
    border: none;
    background-color: white;
    box-shadow: 0px 3px 10px  rgb(0 0 0/ 10%);

    width: 95%;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
   
}
.cardImage-subscribe{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    width: 391px;
 
    height: 221px;
    background: linear-gradient(rgba(254,118,1,100%),rgba(255,118,0,80%));
    color: white;
    justify-content: space-between;
}
.medium-weight-dashboard-sub{
    font-weight:500px;
}
.money-dashboard-sub{
    font-size: 30px;
    font-weight: bold;
}
.cardImage-acc-subscribe{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.cardImage-balance-subscribe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
}
.pieInner{
    border-radius: 6px;
    border: none;
   box-shadow: 0px 3px 10px  rgb(0 0 0/ 10%);
    margin: 35.5px 0px;
    margin-right: 20px;
    min-height: 508px;
    padding: 30px;
    padding-bottom: 50px;
}
.subscribewebscreen{
    font-family: 'DM Sans', sans-serif;
   
}
.subscribemobilescreen{
   display: none;
}
.activity-subscribe-header{
    display: flex;
    justify-content: space-between;
   
}
.subscription-circle{
    border-radius: 100%;
    border: 3px solid purple;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 5px 5px;
    margin: 0px 30px 10px;
   
}
#subscription-circle-red{
    border-color: #E40C0C;
}
#subscription-circle-green{
    border-color: #17AD37;
}
#subscription-circle-ash{
    border-color: rgba(3,6,64,30%);
}
.subscription-circle-and-text-div{
    display: flex;
   
    margin-top: 30px;
   
}
.subscription-circle-and-text{
    background-color: teal;
    border: 1px solid black;
    margin-right: 23px;
    display: flex;
    font-size: 11px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 84px;
    border: none;
    background-color: white;
    box-shadow: 0px 3px 10px  rgb(0 0 0/ 10%);

}
.your-activity-sub{
    font-size: 18px;
    color: #191D6C;
}
.last-sub{
    font-size: 13px;
    color: #070a4a;
    font-weight: 500px;
}
.allSub{
  
    margin-bottom: 20.66px;
    font-size: 20px;
    color: #191D6C;
    font-weight: 500px;
    margin-left: 32px;
    
}
.subscription-circle-and-text-div{
   
    justify-content: space-between;
}
@media screen and (max-width:960px) {
    .catresult-sub{
        padding-left: 20px;
        margin-right: 0;
      
      /* width: 100%; */
        /* overflow-x: scroll; */

    }
    .sub-below-second .catresult-sub span{
        min-width: 23%;
        /* max-width: 20%; */
        padding-right: 0;
        padding: 0;
        margin-right: 54px;
        margin-left: 0;
        /* background-color: lightsalmon;
        background-color: magenta; */
    }
    .sub-below-second{
      /* position: relative; */
        overflow-x: scroll;
        min-width: 100vw;
        min-width: inherit;
        padding-right: 0px;
        /* background-color: lawngreen; */
        /* min-width: 100%; */
    }
    .catresult-sub span{
        min-width: 35%;
       
        font-size: 14px;
    }
    #subscription-circle-red-mobile{
        border-color: #E40C0C;
    }
    #subscription-circle-green-mobile{
        border-color: #17AD37;
    }
    #subscription-circle-ash-mobile{
        border-color: rgba(3,6,64,30%);
    }
    .sub-below-second .teedee{
       /* overflow-x: scroll; */
     
       min-width: 280%;
       max-width: 280%;
       /* bottom: 20px;
        min-width: none; 
        min-width: auto; 
       max-width: auto;  */
      /* overflow-x: scroll; */
      
     /* background-color: lightcoral; */
       padding-left: 20px;
       justify-content: flex-start;
       /* position: absolute; */
    }
    .sub-below-second .teehaych{
        font-size: 14px;
        margin-right: 54px;
        min-width: 8%;
        max-width: 8%;
        /* background-color: lightblue; */
        /* min-width: 25%;*/
        /* max-width: 50%;  */
        
    }
    .subscription-circle-and-text{
        width: 100px;
        height: 100px;
        padding: 10px;
        margin: 0;
        margin-top: 10px;
    }
    .activity-subscribe{

padding: 22px 20px;
color: #070a4a;
        width: 90%;
        margin-right: 20px;
    }
    .subscription-circle-and-text-div{
        display: flex;
        flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-between;
       padding: 0;
       

    }
    .subscribemobilescreen{
        font-family: 'DM Sans', sans-serif;
        display: flex;
        flex-direction: column;
        background-color: #FAFAFE;
        min-height: 100%;
        position: relative;
    }
    .subscribemobilescreen input{
        padding: 0 20px;
        margin: 20px 16px;
        border-radius: 10px;
        height: 40px;
        border: 1px solid rgba(3,6,64,0.2);
        font-size: 14px;
        color: rgba(51,51,51,0.5);
        background-color: transparent;
        width:80%;
        
    }
    .sub-mobile-header{
       padding: 0 20px;
       text-align: left;
       font-size: 16px;
       font-weight: 500px;
       color: #333333;
      
       margin-top: 30px;
       margin-left: 16px;
    }
    .subscribewebscreen{
      display: none;
    }
    .subscribemobilescreen-second{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 20px 20px;
        background-color: white;
       
        border-bottom: 1px solid rgba(7,10,74,0.05);
    }
    .subscribemobilescreen-second p{
        font-size: 14px;
        font-weight: 500px;
        color: #030640;
        border-bottom: 2px solid #6200f0;
    }
    .subscribemobilescreen-inner{
       background-color: white;
       margin: 20px 20px;
      
    }
    .allSub{
       margin-left: 20px;
    }
    .sub-mobile-card{
        padding: 26px 6px;
        margin-top: 12.5px;
        margin-bottom: 20px;
       height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        
    }
    .piemobile{
        background-color: white;
      
      padding: 20px 0;
       font-size: 14px;
       color: rgba(7,10,74,0.7);
       margin: 0 26px;
    }
    .innerpie{
        width: 60%;
        margin: 0 auto;
       
    }
    .subSCRIPTION-pluslogo-mobile{
        width: 143px;
        height: 36px;
        border: none;
        background-color: #6200f0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 500px;
    }
    .activity-subscribe-header{
        font-size: 12px;
        padding: 0px;
    }
    .subSCRIPTION-pluslogo-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .subSCRIPTION-pluslogo-mobile p{
        font-size: 12px;
        color: white;
        margin-left: 3px;
    }
    
}