*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mobile-dash-logo{
    width: 78px;
    height: 32px;
    margin-left: 20px;
}
.mobile-dash-logo img{
    width: 100%;
}
.mobile-dash-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dodgerblue;
    margin-left: 0px;
    margin-top: 10px;
    padding: 20px;
}
.mobile-dash-header-left{
    display: flex;
    align-items: center;
}
.mobile-dash-header-right{
    display: flex;
    align-items: center;
}
.mobile-dash-header-right div{
    margin-left: 20px;
}
.mobileDashtotal{
    display: flex;
    flex-direction: column;
    background-color: #FAFAFE;
   
}
.mobile-dash-lower{
    margin-top: 20px;
    
    align-self: start;
    display: flex;
    align-items: center;
    margin-left: 25px;
}