.smallboX{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
   
    border: 1px solid black;
}