*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fourth-line-product-categ{
    padding: 20px 30px;
    padding-top: 40px;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
   
    text-align: left;
    border: none;
   box-shadow: 0px 3px 10px  rgb(0 0 0/ 10%);
   min-height: 330px;
   border-radius: 10px;
   margin-top: 20px;
  
  
   
}
.fourth-line-product-categ h2{
    color: #030640;
    font-weight: 100px;
    font-weight: 500px;
    font-size: 16px;
    
}
.fifth-line-product-categ h2{
    color: #030640;
    font-weight: 500px;
    font-size: 16px;
   
}
.fifth-line-product-categ{
   
   
    padding: 20px 30px;
    padding-top: 40px;
   
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
  
    border: none;
   box-shadow: 0px 3px 10px  rgb(0 0 0/ 10%);
   border-radius: 10px;
}
.productCat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-wrap: wrap;
   
   
   
}
.contentBox{
    margin-right: 20px;
    background-color: red;
}



.second-line-product{
    display: flex;
    justify-content: space-between;
   padding: 0px 30px;

   display: flex;
    justify-content: space-between;
   padding: 30px 30px;
   align-items: center;
   font-size: 18px;
   border-bottom: 2px solid rgba(7,10,74,5%)  ;
   
  
}
.addsub-product p{
    margin-left: 10px;
}
.addsub-product{
    height: 54px;
    width: 215px;
    background-color: #6200f0;
    border-radius: 6px;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.inner-body-product{
    background-color: white;
   margin-left: 30px;
   margin-right: 30px;
   margin-top: 20px;
}
.third-line-product{
display: flex;
flex-direction: column;
justify-content: center;
/* background-color: crimson; */
padding: 10px 0px;
}
.third-line-product-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
  
    min-width: 450px;
    
}
.third-line-product-content p{
    margin-right: 15px;
}
.third-line-product-content .account-line-product{
    height: 4px;
    background-color: #6200f0;
    min-width: 100%;
   max-width: 100%;
   margin-top: 10px;
}

.third-line-product-upper{
    display: flex;
    justify-self: start;
    padding: 0px 30px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500px;
    color: #191D6c;
   
}
.third-line-product-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    padding-bottom: 20px;
   
    border-bottom: 2px solid rgba(7,10,74 ,5%)  ;
  
}
.product-and-line{
    display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(7,10,74 ,100%);
  width: 50%;
  margin-left: 25px;
   
   
}
.acc-summ-product{
  margin-top: 0;
  color: rgba(7,10,74 ,50%);
    margin-left: 5px;
    height: 100%;
    align-self: flex-start;
    display: flex;
    align-items: flex-start;
}
.welcome-divider-product{
    
    border-color: yellow;
}

.fourth-line-left{
    background-color: darkred;
    min-height: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
}
.wallet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height:200px;
    background-color: orange;
    padding: 30px;
}
.wallet-upper{
    display: flex;
    justify-content: space-between;
   
}
.wallet-lower{
    display:flex ;
    flex-direction: column;
    align-items: flex-start;
    background-color: peru;
}
.fourth-line-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: palevioletred;
    width: 50%;
    border-left: 1px solid black;
}
.fourth-line-left-content{
  
    border: 1px solid black;
    padding-left: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: royalblue;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    
}
.inner-half-dashboard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
}
.inner-half-header{
    display: flex;
    justify-content: space-between;
   width: 100%;
    background-color: slateblue;

}
.MobileProductScreen{
    display: none;
}
.second-line-product input{
    width: 494px;
    height: 53px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgba(7,10,74 ,10%);
}
.productscreenAll{
    background-color: #FAFAFE;
}
.acc-and-product-Mobile{
    background-color: crimson;
}
@media screen and (max-width:960px) {
    .webproductScreen{
        display: none;
    }
    .welcomeMobileScreen{
        margin-top: 20px;
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }
    
    .fifth-line-product-categ{
        background-color: white;
        padding:20px  20px;
        margin-top: 10px;
        margin-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 30px 30px;
       
    }
    .firstareaproductmobilescreen{
        margin: 20px;
      padding: 30px 0;
        background-color: white;
    }
    .MobileProductScreen input{
        border: 1px solid black;
        padding: 0 20px;
        margin-top: 20px;
        margin-left: 16px;
        margin-right: 16px;
        height: 40px;
        border: 1px solid rgba(3,6,64,0.2);
        /* max-width: 382px; */
        border-radius: 10px;
        font-size: 14px;
        color: rgba(51,51,51,0.5);
        margin-bottom: 31px;
        
       
    }
    .MobileProductScreen{
        display: flex;
        flex-direction: column;
        background-color: #FAFAFE;
      
    }
    .product-line-product-mobile{
        border-bottom: 1px solid black;
        color: rgba(7,10,74 ,100%);
        margin-left: 22px;
    }
    .fourth-line-product-categ{
        padding: 0;
        padding:0px  20px;
        margin-top: 0;
        padding-top: 29.5px;
        border-top: 1px solid rgba(7,10,74,0.05);
        box-shadow: none;
        padding-bottom: 30px;
    }
    .fifth-line-product-categ h2{
        font-size: 16px;
        font-weight: 500px;
        color: #030640;
    }
    .overview-and-button-Mobile button{
        background-color: #6200f0;
        width: 153px;
        height: 36px;
        font-size: 12px;
        font-weight: 500px;
        border: none;
        color: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .overview-and-button-Mobile h3{
        font-size: 18px;
        color: #191D6c;
        font-weight: 500px;
    }
    .product-catg-mob{
        font-weight: 500px;
        color: #030640;
        font-size: 16px;
    }
    .overview-and-button-Mobile{
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
margin-top: 0px;
    }
.acc-and-product-Mobile{
display: flex;
align-items: center;
/* border-bottom: 1px solid rgba(7,10,74,0.05); */
margin-bottom: 0;
padding-bottom: 10px;
margin-top: 20px;
padding-left: 20px;
padding-right: 20px;
font-size: 14px;
}
.acc-mobile-summ{
    color: rgba(7,10,74 ,50%);
}
    
}