*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dashboard{
    width: 100%;
    min-height: 100vh;
    cursor: pointer;
    background-color: #FBFBFF;
    font-family: 'DM Sans', sans-serif;
   
    
}
.dashboard-left{
    background-color: #191D6C;
    background-color: #030640;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    color: white;
    min-height: 100vh;
    position: fixed;
    overflow: auto;
  
}
.dashboard-inner{
    width: 100%;
    height: 100%;
    display: flex;
   
}
.dashboard-right{
    width: 82%;
    margin-left: 18%;
    
}
.dashboard-logo{
    margin-bottom: 60px;
}
.inner-list{
    
    display: flex;
    align-items: center;
    align-self: start;
    justify-content: flex-start;

    /* justify-content: center; */
    margin: 0;
    margin-bottom: 30px;
    padding-left: 25%;
    padding-left: 100px;
    padding-right: 100px;
    overflow-x: auto;
    
 
  height: 46px;
  min-width: 100%;
  /* max-width: 100%; */
    

}

.dash-icon{
    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
   
    align-self: center;
    /* padding-top: 5px; */
    
}
.list{
 
  
    display: flex;
    flex-direction: column;
    
    justify-content: center;
  
    text-align: left;
    min-width: 100%;
   
  
   

}
.dash-upper{
    display: flex;
    width: 100%;
    height: 30px;
  background-color: #dfcef7;
  background-color: #E4E6FF;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
   margin-bottom: 0px;
    color: #6200f0;
 
  height: 58px;

}
.dash-upper-left{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.dash-upper-right{
    display: flex;
   
    height: 100%;
    margin: 0;
}
.first{
    margin-right: 10px;
   
}
.first img{
    width: 100%;
}
.dividers{
    height: 100%;
    width: 1px;
    
}
.firsts{
  
    border-left: 1px solid rgba(7,10,74 ,10%);
    min-height: 100%;
    max-height: 100%;
    padding:19px 35.5px;
    display: flex;
    align-items: center;
    justify-content: center;
   margin: 0px;
    
    align-self: center;
}
.second{
    align-self: center;
    border-left: 1px solid rgba(7,10,74 ,10%);
    min-height: 100%;
    max-height: 100%;
    padding: 19px 35.5px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.profile-image-dash{
    width: 26.7px;
    height: 26.7px;
    border-radius: 100%;
    border: 1.5px solid #070a4a;
   color: #E4E6FF;
   color: #aaaccf;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-image-dash img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}
@media screen  and (max-width:700px){
    .inner-list{
        margin-left: 10px;
        height: 50px;
        padding-left:25%;
        margin-left: 0;
        width: 100%;
        margin-bottom:15px;
    }
    .list{
      
       margin-left: 0px;
       margin-right: 0;
      
       margin-top: 80px;
       margin-bottom: 100px;
       width: 100%;
     
        
    }
    /* .dashboard{
        display: none;} */
    .list p{
        font-size: 16px;
    }

}


