.inner-settings-section{
    /* background-color: aqua; */
    margin: 20px 30px 0 30px;
    
}


.header h3{
    text-align: left;
    font-weight: 500;
    padding: 20px
}

.welcome-divider{
    border-color: rgba(7,10,74,0.1);
}

.sub-header{
    display: flex;
    margin-bottom: 20px;
}

.sub-header a {
    text-decoration: none;
    text-align: left;
    padding: 20px 42px 5px 42px;
}

.inner-section{
    /* width: 1016px; */
    min-width: 100%;
    max-width: 100%;
    height: 762px;
    margin: 12.5px 0 10px 0;
    display: flex;
    padding: 50px 30px 66px;
    border-radius: 10px;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
   
}

.payments-settings{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: flex;
    align-self: center;
    justify-content: center;
   
    flex-wrap: wrap; */
    max-width: 100%;
    /* padding: 20px; */
}
.payments-form{
  
    margin: 0 auto;
    max-width: 90%;
    min-width: 90%;
}

.payment-options{
    width: 420px;
    height: 350px;
    margin: 2px 88px 114px 0;
    padding: 22px 153px 168px 10px;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: left;
}

.card-payment{
    display: flex;
    margin-top: 30px;
    height: 50px;
}

.card-payment input{
    width: 32px;
    height: 32px;
}

.card-payment label{
    margin: 5px 0 0 10px;
    color: rgba(51, 51, 51, 0.7);
    font-weight: normal;
}

.e-wallet{
    display: flex;
    width: 350px;
    min-width: 100%;
    max-width: 100%;
   
    height: 50px;
}
.payment-options{
  
    max-width: 100%;
    margin: 20px auto;
    /* margin-right: 80px; */
}
.payments-settings div{
    margin-left: 20px;
    
}
.change-pin{
 
    max-width: 100%;
    margin: 0 auto;
   
}

.e-wallet input{
    width: 32px;
    height: 32px;
}

.e-wallet label{
    margin: 5px 0 0 10px;
    color: rgba(51, 51, 51, 0.7);
}

.options{
    display: flex;
    width: 350px;
}

.options input{
    width: 32px;
    height: 32px;
}

.options label{
    margin: 5px 0 0 10px;
    color: rgba(51, 51, 51, 0.7);
}

.change-pin{
    width: 420px;
    height: 350px;
    margin: 2px 88px 114px 0;
    padding: 22px 153px 168px 30px;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: left;
    max-width: 100%;
    margin: 20px auto;
}

.change-pin p{
    width: 350px;
    height: 52px;
    margin: 16px 0 0 0;
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(51, 51, 51, 0.5);
}

.old-pin{
    width: 350px;
    display: flex;
}

.old-pin label{
    width: 100px;
    color: rgba(51, 51, 51, 0.7);
    margin-top: 10px;
}

.old-pin input{
    width: 200px;
    height: 46px;
    border-radius: 4px;
    border: solid 1px rgba(3, 6, 64, 0.2);
    background-color: #fff;
}
.new-pin{
    width: 350px;
    display: flex;
    margin: 24px 0 0;
}

.new-pin label{
    width: 100px;
    color: rgba(51, 51, 51, 0.7);
    margin-top: 10px;
}

.new-pin input{
    width: 200px;
    height: 46px;
    border-radius: 4px;
    border: solid 1px rgba(3, 6, 64, 0.2);
    background-color: #fff;
}

.confirm-pin{
    width: 350px;
    display: flex;
    margin: 24px 0 0;
}

.confirm-pin label{
    width: 100px;
    color: rgba(51, 51, 51, 0.7);
    margin-top: 10px;
}

.confirm-pin input{
    width: 200px;
    height: 46px;
    border-radius: 4px;
    border: solid 1px rgba(3, 6, 64, 0.2);
    background-color: #fff;
}

.payment-options h4, .change-pin h4{
    color: #191d6c;
}
.mobile-view-payment-settings{
    display: none;
}
@media screen and (max-width:700px) {
    .mobile-view-payment-settings{
        display: inline-block;
        max-width: 100%;
        min-width: 100%;
        margin: 0;
    }
    .web-view-payment-settings{
        display: none;
    }
    .webmobile-payment-settings{
        position: relative;
        max-width: 100vw;
        min-width: 100vw;
        background-color: rgb(87, 86, 84);
    }
    .inner-section{
        flex-direction: column;
        
    }
    .payments-settings{
        display: flex;
        flex-direction: column;
       
        width: 100%;
    }
    .payment-options{
        max-width: 100%;
        flex-wrap: wrap;
        font-size: 14px;
        word-break: break-all;
    }
    .payment-options{
       
        width: 100%;
        height: auto;
    }
    .e-wallet input{
        max-width: 24px;
        min-width: 24px;
    }
    .card-payment input{
        max-width: 24px;
        min-width: 24px;
        height: 24px;
    }
    .options input{
        max-width: 24px;
        min-width: 24px;
        height: 24px;
    }
    .e-wallet{
      width: 100%;
       
    }
    .card-payment{
        width: 100%;
         
      }
    .options{
        width: 100%;
        
      }
    .e-wallet label{
        word-break: keep-all;
    }
    .options label{
        word-break: keep-all;
    }
    .card-payment label{
        word-break: keep-all;
    }
    .payment-options{
        padding: 35px;
        margin-top: 0;
       
    }
    .payments-settings div{
        margin-left: 0px;
        
    }
    .payments-settings{
       
        margin: 0;
        min-width: 100%;
        max-width: 100%;
        margin-right: 16px;
    }
    .payments-form{
       
        min-width: 100%;
        max-width: 100%;
        margin: 0px;

    }
    .change-pin{
        height: auto;
    }
    .change-pin h4{
        font-size: 16px;
        min-width: 100%;
        max-width: 100%;
        flex-wrap: nowrap;
       
    }
    .change-pin p{
        font-size: 14px;
       
        word-break: keep-all;
        max-width: 100%;
        
    } 
 .old-pin {
     margin-top: 56px;
        max-width: 100%;
        min-width: 100%;
      
    }
    .old-pin input {
        max-width: 100%;
        min-width: 100%;
        height: 40px;
        font-size: 14px;
        padding-left: 20px;
       
    }
    .new-pin {
        max-width: 100%;
        min-width: 100%;
      
    }
    .new-pin input {
        max-width: 100%;
        min-width: 100%;
        height: 40px;
        font-size: 14px;
        padding-left: 20px;
       
    }
    .confirm-pin {
        max-width: 100%;
        min-width: 100%;
       
      
    }
    .confirm-pin input {
        max-width: 100%;
        min-width: 100%;
        height: 40px;
        font-size: 14px;
        padding-left: 20px;
       
    }
    
    
    .change-pin{
        max-width: 100%;
       
        padding: 0;
        flex-wrap: wrap;
        padding-top: 35px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 35px;
    }
    .app-button-field{
       
        justify-content: center;
    }
    .app-button-field button{
        width: 101px;
        height: 40px;
        margin: 10px;
    }
}