.Nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 100px;
    padding-right: 100px;
   color:#030640;
  font-size: 18px;
  margin-top: 10px;
 cursor: pointer;
 
 padding-top: 0px;
  
  
    
    
   
}
.Nav .dropDown .testing #partyner {
    
    
    font-size: 40px;
    
}

.dropDown{
   
   
   
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  
    padding: 0px;
}
.dropDown div{
    margin-top: 5px;
   
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
    text-align: left;
}
.dropDown div p{
  
    margin-top: 0px;
    line-height: 10px;
}

.NavRightContent{
    display: flex;
   
    align-items: center;
   
}
.NavRightContent button{
    width: 138px;
    height: 56px;
    
    background-color: #6200F0;
    color: white;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    font-size: 18px;
   
}
.links{
    text-decoration: none;
    color:#030640;
    font-size: 18px;
    margin-top: 10px;
   
}
.NavRightContent p{
    margin-right: 50px;
}
.Navlogo{
    display: flex;
    align-items: center;
   
    padding-top: 0px;
    line-height: 0px;
    padding-bottom: 10px;
   
  
}
.mobilenavrightcontent{
    display: none;
}
.mobilenavrightbar{
    display: none;
}
.laptop-logo{
    width: 108px;
    height: 42px;
}
#companyLink{
    display: flex;
   align-self: center;
    justify-content: center;
    align-items: center;
    color:#030640;
    margin-bottom: 0px;
    margin-right: 50px;
    line-height: 0px;
    
   
    
}
.total-dropdown #companyLink .linker-extra{
    background-color: crimson;
}


#companyLink p{
    margin-right: 0px;
}

.total-flex{
    background-color: aqua;
    
   
}
.mobileFlex{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    
}
.mobileFlex-div{
    display: flex;
    flex-direction: column;
    color:#030640;
   
}

.mobileFlex-div div{
    margin-bottom: 0px;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0px;
    padding: 0px;
}
.mobileFlex-div div p{
    
   margin-top: 0px;
   
   
}
 .exception{
    margin-top: 5px;
    
   
}
.mobileLinks{
    text-decoration: none;
    color:#030640;
}
.aboUt{
    color:#030640;
}
#prIVacy{
    color:#030640;
}


@media screen and (max-width:700px) {
    .Navlogo{
        margin-top: 0px;
    }
    .mobilenavrightbar{
        display: flex;
        justify-content: center;
        align-items: center;
     
        
    } 
    .laptop-logo{
        width: 78px;
        height: 32px;
    }
    
    
    .mobile-logo{
        display: inline ;
    }
    
    .NavBar{
      
       display: flex;
       flex-direction: column;
       
    }
    .Nav{
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
    }
    
    .mobilenavrightcontent{
        background-color: white;
        display: none;
        justify-content: center;
        transition:1s cubic-bezier(0.075, 0.82, 0.165, 1);
        transition: top 1s ease;
       
        width: 150px;
        text-align: left;
        padding-left: 20px;
       
      
        flex-direction: column;
       
        margin-top: 18px;
       
       
    }
    .mobilenavrightcontent button{
        width: 100px;
        
        margin-bottom: 10px;
        border: none;
        padding: 8px;
        background-color: #6200F0;
        border-radius: 5px;
        color: white;
    }
    .NavRightContent{
        display: none;
    }
    
}