 .fund-value-div{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     font-size: 30px;
     color: #333;
     height: 60px;
     border: 1px solid rgba(3, 6, 64, 0.2);
 }
 .option-right-fund{
     width: 40%;
     text-align: left;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
    
 }
 .option-right-fund p{
     margin-bottom: 20px;
 }

 @media screen and (max-width:930px) {
     .option-right-fund{
         width: 100%;
     }
 }