.Passwordconfirm{
    text-align: left;
   
   
    height: 100%; 
   /* max-height: 100%;  */
    margin-top: 20.5%;
   
    margin-bottom: 0px;
   
   
}
.confirm-all-web-mobile{
    font-family: 'DM Sans', sans-serif;
}
.Passwordconfirm h1{
    
    font-size: 20px;
    font-weight: bold;
  color: #4c0fae;
  margin-bottom: 10px;
}
.paSSwordconfirm-parag{
    font-size: 16px;
    color: rgba(51,51,51,70%);
    margin-bottom: 111px;
}
.Passwordconfirm button{
    background-color: white;
    width: 248px;
    height: 56px;
    font-size: 16px;
    font-weight: 500px;
    color: #6200f0;
    border: 1px solid rgba(98,0,240,50%);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Passwordconfirm button:hover{
    border: 3px solid #5205C1;
}
@media screen and (max-width:960px) {
    .signin{
        display: none;
    }
    .mobilesignin{
        min-height: 100%;
    }
    .confirm-all-web-mobile{
        display: flex;
        align-items: flex-start;
        height: 100vh;
    }
    .Passwordconfirm {
        text-align: center;
       
    }
    .Passwordconfirm h1{
        font-size: 16px;
        text-align: left;
    }
    .paSSwordconfirm-parag{
        font-size: 14px;
        text-align: left;
        margin-bottom: 53px;
    }
    .Passwordconfirm button{
        font-size: 14px;
        margin-bottom: 200px;
    }
    
}