.signup-password-wrapper{
    position: relative;
    display: flex;
    justify-content: flex-end;
  
    align-items: center;
    width: 100%;
   
   
}
.signup-password-wrapper input{

    width: 100%;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 0px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    color: #c4c4c4;
}
.signup-email-wrapper input:hover{
    border: 1px solid #6200f0;
    outline: none;
}
.signup-email-wrapper input:focus{
    border: 1px solid #6200f0;
    outline: none;
}
.signup-password-wrapper input:hover{
    border: 1px solid #6200f0;
    outline: none;
}
.signup-password-wrapper input:focus{
    border: 1px solid #6200f0;
    outline: none;
}
.signup-email-wrapper input{
    width: 100%;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    color: #c4c4c4;

}
.signup-email-wrapper{
    position: relative;
    display: flex;
    justify-content: flex-end;
 
    align-items: center;
    width: 100%;
   
   
}
.signup-firstname{
    position: relative;
    display: flex;
    justify-content: flex-end;
 
    align-items: center;
    width: 100%;
   
   
}

.signup-lastname{
    position: relative;
    display: flex;
    justify-content: flex-end;
 
    align-items: center;
    width: 100%;
   
   
}

.signup-firstname input{
   
    width: 100%;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    color: #c4c4c4;
}
.signup-firstname input:hover{
    border: 1px solid #6200f0;
    outline: none;
}
.signup-firstname input:focus{
    border: 1px solid #6200f0;
    outline: none;
}
.signup-lastname input:hover{
    border: 1px solid #6200f0;
    outline: none;
}
.signup-lastname input:focus{
    border: 1px solid #6200f0;
    outline: none;
}
.signup-lastname input{
    width: 100%;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    color: #c4c4c4;
    font-weight: light;
}
#selectlist{
    
    width: 100%;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    color: #c4c4c4;
    
}
#selectlist:hover{
    border: 1px solid #6200f0;
    outline: none;
}
#selectlist:focus{
    border: 1px solid #6200f0;
    outline: none;
}
.signup-password-wrapper i{
    position: absolute;
    margin-right: 10px;
    
 
  
}
.inner-signup{
   


display: flex;

justify-content: space-between;

min-height: 60vh;

width: 90%;





}
.signup{
   
    background-color: #D5BCFF;
 display: flex;
 min-height: 100%;

   align-items: center;
   justify-content: center;
   padding: 60px 20px;
  
   
    
}


.signup-pols{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 410px;
    padding-bottom: 55px;
    padding-top: 55px;
   
}
.signup-input-section{
   background-color: white;
    justify-content: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 30px;
    
   
   
}
.signup-input-section h3{
    font-size: 24px;
    color: #4C0FAE;
    font-style: bold;
}
.signup-create{
    width: 100%;
    height: 60px;
    margin-top: 0px;
    background-color: #9953ff;
    border-radius: 5px;
    border: none;
    height: 40px;
    background-color: #6200f0;
    background-color: #9953ff;
    
   
}
.signup-create:hover{
    background-color: #191D6C;
    color: white;
}
.signup-facebook{
    width: 50%;
   height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
}
.signup-facebook p{
    font-size: 14px;
    font-weight: 500;
    color: #9597bc;
    font-style: normal;
    color: #c4c4c4;
   color: black;
}
.signup-google p{
    font-size: 14px;
    font-weight: 500;
    color: #9597bc;
    font-style: normal;
    color: black;
}
.signup-google{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 60px;
    margin-right: 10px;
    border:1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    
   
}
.signup-email{
    width: 100%;
}
.signup-email-div{
    position: relative;
    width: 99%;
}
.signup-remember-me{
    display: flex;
    align-items: center;
    margin-top: 0px;
    padding: 0px;
   
    margin-bottom: 20px;
}
.signup-remember-me{
    font-size: 14px;
    color: #9953ff;
    font-weight:light;
    font-style: normal;
    color:black;
}
.signup-line{
    height: 1px;
    background-color: black;
    width: 50%;
    border: none;
    background-color:#c4c4c4;
}
.signup-orandline{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
    color:#c4c4c4;

}
.signup-pols h2{
    line-height: 30px;
    margin-bottom: 0px;
  
}

.signup-textandimage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    padding: 40px 30px;
    width: 640px;
    height: 1049px;
    background-image: url('../../Asset/image-20-1@1x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: overlay;
}
.signup-textandimage-logo{
    width: 20%;
    
   
}

.signup-textandimage p{
width: 70%;
color: white;
font-size: 16px;
line-height: 1.8;
font-weight: normal;
font-style: normal;
}
.signup-textandimage h2{
    font-size: 24px;
    font-weight: bold;
    text-align: left;
   color: #c19bff;
  font-style: normal;
}
.Terms-and-condition{
    color: #9953FF;
    color: #9597bc;
    font-weight: bold;
    color: #9953FF;
   
}
.terms{
    display: flex;
    align-items: flex-start;
   font-size: 14px;
    justify-content:center ;
    margin-top: 10px;
   
   
}


.terms p{
    text-align: left;
   
    margin: 0px;
   
  
   
}
.select-placeholder{
    color: brown;
    font-size: large;
    opacity: 0.5;
}
#selectlist{
    font-weight: lighter;
}
.signup-copyright{
    color: white;
}
.signup-textandimage-logo{
    color: white;
}

.already-have-account{
    margin: 0 auto;
    color: #000;
}
.google-AND-facebook{
    display: flex;
    
    margin-top: 30px;
    width: 100%;
    width: 410px;
    
}
.logoGoogle{
    width: 30px;
    height: 30px;
}
.logoFace{
    width: 30px;
    height: 30px;
    color: white;
    background-color: rgb(61, 61, 119);
    border-radius: 100%;
  
    padding: 5px;
    margin-right: 1px;
}
.privacy{

    
    color: #9597bc;
    color: #9953FF;
    

    font-weight: bold;
}
.already-have-account-log{
    color: #9953FF;
    font-size: 14px;
}
.terms-checkbox{
width: 20px;
height: 20px;
border-radius: 5px;
}
.remember-checkbox{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    }

@media screen and (max-width:960px) {
    .inner-signup{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 15px;
       
    }
    .signup-input-section{
        width: 100%;
    }
    .signup-textandimage{
        width: auto;
       
      padding: 10px;
      
      
    }
    .signup{
        padding: 20px;
    }
    
    .signup-textandimage p{
        width: 80%;
        
        }
}