.inner-settings-section{
    /* background-color: aqua; */
    margin: 20px 30px 0 30px;
    margin-right: 30px;
    max-width: 100%;
    
}

.header h3{
    text-align: left;
    font-weight: 500;
    padding: 20px
}

.welcome-divider{
    border-color: rgba(7,10,74,0.1);
}

.sub-header{
    display: flex;
    margin-bottom: 20px;
}

.sub-header a {
    text-decoration: none;
    text-align: left;
    padding: 20px 42px 5px 42px;
}

.inner-section{
    /* width: 1016px; */
    max-width: 100%;
    height: 662px;
    margin: 12.5px 0 10px 0;
    display: flex;
    padding: 50px 30px 66px;
    border-radius: 10px;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.notifications{
    width: 1100px;
    width: 100%;
  
}

.notification{
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;
   
}

.notification-text {
    text-align: left;
    color: #191d6c
}

.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2a2a2b;
    transition: 0.4s;
}

.slider::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
}

.input-check:checked + .slider{
    background-color:  #6200f0;
}

.input-check:checked + .slider::before{
    transform: translateX(25px);
}

.slider.rounded{
    border-radius: 40%;
}

.slider.rounded::before{
    border-radius: 50%;
}

.button-field{
    margin: 100px 0 0 250px;
    display: flex;
}
.submit-btn{
    width: 190px;
    height: 54px;
    padding: 15px 68.5px 16px;
    color: rgba(7, 10, 74, 0.7);
    font-size: 16px;
    border-radius: 6px;
    background-color: rgba(3, 6, 64, 0.2);
    border: none;
    cursor: pointer;
    font-weight: 600;
}
.mobile-view-notification{
    display: none;
}
.web-view-notification{
    display: flex;
}
@media screen and (max-width:960px) {
    .webmobile-view-notification{
        position: relative;
    }
    .mobile-view-notification{
    display: flex;
    }
    .web-view-notification{
    display: none;
    }
    .mobile-view-notification .inner-section{
        max-width: 90%;
        min-width: 90%;
        padding: 0;
       
        padding: 30px 20px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 30px;
        padding-bottom: 30px;
       
    }
    .notification h3{
        font-size: 16px;
    }
    .notification p{
        font-size: 12px;
    }
    .notifications{
        width: 100%;
    }
    .notification{
        align-items: center;
      
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 40px;
        justify-content: space-between;
    }
    .button-field{
       
        margin: 0 ;
        margin-top:50.4px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .button-field button{
        width: 101px;
        height: 40px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
