.Homepage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: Cabin;
   
}
.Homebody{
  
    padding: 0 100px;
 
   
}
.Bodyinner{
    margin-top: 40px;
    
}
.Innercontent{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
  
    
    
   
}
.contents-original h2{

margin-bottom: 0px;
}
.laptop-image{
  
    width: 50%;
}
.laptop-image img{
    width: 100%;
}
.Innercontent-original{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
   
    
   
}
.Innercontent div{
    width: 45%;
   color: #191D6C;
   margin-top: 80px;
  
  
}
p{
    line-height:157%;
}
.Innercontent-original div{
    width: 45%;
   color: #191D6C;
   margin-top: 80px;
  
  
}
.Bodyinners div{
    display: flex;
    justify-content: space-between;
   
}
.contents{
    display: flex;
    flex-direction: column;
    text-align: left;
   
   
    padding-top: 0px;
    width: 50%;
   
}
.contents h2{
    margin-top: 0px;
}
.contents-original{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    padding-top: 0px;
    
    height: 100%;
  
   
}
.contents-original h2{
    margin-top: 0px;
}
.contents-operate{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-end;
    align-self: flex-end;
    background-color: brown;
    padding-top: 0px;
    width: 30%;
   
    
}
.contents-operate h2{
    align-self: flex-start;
    line-height: 0px;
    margin-bottom: 0px;
 
  width: 70%;
  padding-top: 0px;
  margin-top: 0px;
  
}
.contents-operate p{
    width: 100%;
}
.contents p{
    width: 100%;
}
.contents-original p{
    width: 100%;
}
.Image{
    display: flex;
   justify-content: center;
}
.buttons{
    display: flex;
}
.buttons-partner{
    


    width: 150px;
    height: 56px;
    margin-top: 10px;
    background-color: #6200F0;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    
}
#sep-button{
    background-color: white;
    color: #6200F0;
    border:1px solid #6200F0;
}

.buttons button{
    width: 150px;
    height: 56px;
    margin-top: 10px;
    margin-right: 20px;
    background-color: #6200F0;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
.work{
    display: flex;
    margin-top: 20px;
    
}
.workcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    text-align: center;
    box-shadow: gainsboro 10px;
    padding: 15px;
    width: 30%;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 8px;
    
}
.blog p{
    width: 40%;
    margin: 0px auto;
   
}
.love p{
    width: 40%;
    margin: 0px auto;
   
}
.blog{
    margin-top: 80px ;
}
.love{
    margin-top: 80px ;
    height: 250px;
}
.mobile-inner-content{
    display: none;
}
.Innercontent-original-mobile{
    display: none;
}
@media screen and (max-width:960px){
    p{
        line-height:180%px;
    }

    .Innercontent-original div{
        margin-top: 20px;
    }
    .Bodyinner{
        margin-top: 10px;
       
        padding-top: 0px;
    }
    .laptop-image{
       
        max-width: 100%;
        max-width: 100%;
      }
      .laptop-image img{
        width: 100%;
      }
     
    .mobile-img-div{
        max-width: 100%;
        max-width: 100%;
       
       
    }
    .mobile-img-div img{
        width: 100%;
    }
     
    
    .Homepage{ 
        
        padding-top: 20px;
    }
    
.Innercontent-original{       
    display: flex;
    flex-direction: column;

}
.Homebody{
    padding: 0 40px;
    padding-right: 40px;
    padding-left: 40px;
}
.Innercontent-original div{
    width: 100%;
}
.Innercontent-original h2{
    text-align: left;
    width: 100%;
}
.Innercontent-original p{
    text-align: left;
    width: 100%;
}
.work{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents-original{
    align-items: center;
   
}
.workcontent{
    width: 70%;
    margin-top: 20px;
    margin-right: 0px;
}
.buttons-partner{
    justify-content: center;
    font-size: 16px;
}
.buttons button{
   font-size: 16px;
    width: 100%;
}
.buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Innercontent{
    display: none;
    background-color: blue;
}
.mobile-inner-content{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.mobile-inner-content button{ 
    width: 100%;
}
.love p{
    width: 100%;
}
.blog p{
    width: 100%;
    
}
.Innercontent-original{
    display: none;
}
.Innercontent-original-mobile div{
   width: 100%;
  
}
.Innercontent-original-mobile p{
    margin-bottom: 40px;
}
.Innercontent-original-mobile .laptop-image{
    margin-bottom: 40px;
}



}